body {
    font-family: 'Cormorant Garamond', serif;
    font-size: 16px;
    line-height: 1;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description{
    white-space: pre-wrap;
  }
  
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 3px solid black;
    padding: 10px;
  }

  .time-block{
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;;
    margin-bottom: 20px;
  }
  
  .hour {
    font-family: 'Abel', sans-serif;
    background-color: #ffffff;
    color: #000000;
    border-top: 1px solid #000000;
  }
  
  .past {
    background-color: #025E73;
    color: white;
  }
  
  .present {
    background-color: #F2D06B;
    color: white;
  }
  
  .future {
    background-color: #9BBFB5;
    color: white;
  }
  
  .saveBtn {
    border-left: 3px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #025373;
    color: white;
    transition: all .3s ease-in;
  }
  
  .saveBtn:hover {
    font-size: 30px;
    transition: all .3s ease-out;
  }

  #currentDay {
    font-family: 'Abel', sans-serif;
  }
  